In [1]:
import pandas as pd
import os

In [8]:
df_t = pd.read_csv('../../trade_socket_btcusdt_validation_trade_id.csv')
df_t.head()

       Timestamp    Buy   Sell  Quantity     Price    trade_id
0  1728475781932   True  False   0.00010  62096.01  3903977118
1  1728475782052   True  False   0.00006  62096.01  3903977119
2  1728475782052   True  False   0.00010  62096.01  3903977120
3  1728475782052   True  False   0.00001  62096.01  3903977121
4  1728475782124  False   True   0.00930  62096.02  3903977122

In [9]:
df_k = pd.read_csv('../../kline_socket_btcusdt_validation_trade_id.csv')
df_k.head()

,Date,Time,Open Price,High Price,Low Price,Close Price,Volume,Number of Trades,first_trade_id,last_trade_id,quote_asset_volume,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,kline_closed
0,09-10-24,1728475778002,62105.96,62112.0,62095.33,62099.89,3.58552,1013,3903975925,3903976937,222672.225208,2.47333,153602.525216,False
1,09-10-24,1728475780325,62105.96,62112.0,62095.33,62098.28,3.74199,1115,3903975925,3903977039,232388.981609,2.47484,153696.295890,False
2,09-10-24,1728475782544,62105.96,62112.0,62095.33,62096.02,3.84201,1199,3903975925,3903977123,238600.026530,2.48454,154298.627965,False
3,09-10-24,1728475786003,62105.96,62112.0,62095.33,62096.01,3.84285,1203,3903975925,3903977127,238652.187184,2.48506,154330.917895,False
4,09-10-24,1728475788617,62105.96,62112.0,62095.33,62096.02,3.85386,1207,3903975925,3903977131,239335.864364,2.49607,155014.595076,False

In [10]:
df_k[df_k['kline_closed'] == True]

,Date,Time,Open Price,High Price,Low Price,Close Price,Volume,Number of Trades,first_trade_id,last_trade_id,quote_asset_volume,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,kline_closed
9,09-10-24,1728475800009,62105.96,62112.00,62095.33,62099.88,4.19668,1423,3903975925,3903977347,2.606238e+05,2.82457,175413.322489,True
37,09-10-24,1728475860007,62099.89,62167.98,62099.88,62167.97,10.22952,3145,3903977348,3903980492,6.355710e+05,9.66734,600632.526300,True
65,09-10-24,1728475920009,62167.97,62167.98,62143.94,62146.10,5.69628,2477,3903980493,3903982969,3.540406e+05,1.92735,119781.257639,True
94,09-10-24,1728475980007,62146.10,62146.10,62106.45,62106.46,4.06825,3025,3903982970,3903985994,2.527444e+05,1.28248,79674.926027,True
120,09-10-24,1728476040007,62106.45,62124.00,62106.45,62114.93,1.81590,1628,3903985995,3903987622,1.127970e+05,0.99682,61917.563601,True
148,09-10-24,1728476100014,62114.94,62123.99,62114.93,62123.99,3.68845,891,3903987623,3903988513,2.291316e+05,2.10389,130693.664009,True
175,09-10-24,1728476160006,62123.99,62132.00,62100.00,62100.01,11.50982,2865,3903988514,3903991378,7.148924e+05,1.91452,118921.856301,True
201,09-10-24,1728476220006,62100.01,62107.65,62100.00,62100.00,2.91154,1568,3903991379,3903992946,1.808172e+05,1.05534,65539.950777,True
228,09-10-24,1728476280008,62100.01,62109.62,62100.00,62109.61,2.02369,578,3903992947,3903993524,1.256801e+05,1.54905,96201.643829,True
255,09-10-24,1728476340006,62109.62,62170.00,62096.00,62164.52,16.73427,3989,3903993525,3903997513,1.039946e+06,9.91771,616252.035937,True
281,09-10-24,1728476400009,62164.53,62164.53,62142.00,62142.01,4.08999,1211,3903997514,3903998724,2.542019e+05,1.43925,89451.215347,True
307,09-10-24,1728476460009,62142.01,62142.01,62112.00,62112.01,6.88200,1248,3903998725,3903999972,4.275643e+05,0.49436,30707.839304,True
334,09-10-24,1728476520006,62112.01,62116.00,62100.00,62116.00,4.59666,1403,3903999973,3904001375,2.854866e+05,2.52724,156964.095914,True
360,09-10-24,1728476580006,62115.99,62115.99,62060.11,62070.82,14.77063,3936,3904001376,3904005311,9.169485e+05,6.83218,424040.959978,True
386,09-10-24,1728476640009,62070.82,62072.49,62060.85,62071.49,11.39635,1635,3904005312,3904006946,7.073394e+05,6.02800,374136.193306,True
412,09-10-24,1728476700009,62071.49,62112.30,62071.49,62112.30,10.23970,841,3904006947,3904007787,6.357823e+05,9.39798,583525.404204,True
440,09-10-24,1728476760006,62112.30,62112.30,62098.00,62104.29,4.15815,1137,3904007788,3904008924,2.582428e+05,1.87174,116242.417136,True
466,09-10-24,1728476820009,62104.28,62116.00,62100.54,62115.99,3.16910,1046,3904008925,3904009970,1.968222e+05,2.31373,143699.141794,True
492,09-10-24,1728476880006,62116.00,62146.97,62115.99,62146.97,7.39468,1659,3904009971,3904011629,4.594259e+05,6.94272,431347.793569,True
519,09-10-24,1728476940006,62146.97,62155.96,62138.71,62138.72,5.82563,1175,3904011630,3904012804,3.620538e+05,3.51047,218171.704664,True

In [21]:
results = []

# Iterate through each closed kline
for index, kline in df_k[df_k['kline_closed']].iterrows():
    first_trade_id = kline['first_trade_id']
    last_trade_id = kline['last_trade_id']

    # Filter df_t for trades within the first and last trade IDs
    filtered_trades = df_t[(df_t['trade_id'] >= first_trade_id) & 
                                  (df_t['trade_id'] <= last_trade_id)]

    # Calculate total volume and number of trades
    total_volume = filtered_trades['Quantity'].sum()
    number_of_trades = filtered_trades.shape[0]

    # Calculate total buy and sell volumes for volume dominance
    total_buy_volume = filtered_trades[filtered_trades['Buy']]['Quantity'].sum()
    total_sell_volume = filtered_trades[filtered_trades['Sell']]['Quantity'].sum()

    # Calculate total volume for dominance calculations
    total_volume_all = total_buy_volume + total_sell_volume

    # Calculate volume dominance
    if total_volume_all > 0:
        buy_volume_dominance = (total_buy_volume / total_volume_all) * 100
        sell_volume_dominance = (total_sell_volume / total_volume_all) * 100
    else:
        buy_volume_dominance = 0
        sell_volume_dominance = 0

    # Determine dominance direction
    if buy_volume_dominance > sell_volume_dominance:
        dominance_direction = 1  # Buy dominance
    elif sell_volume_dominance > buy_volume_dominance:
        dominance_direction = -1  # Sell dominance
    else:
        dominance_direction = 0  # Neutral (optional)

    # Convert Unix timestamp to datetime
    time_readable = pd.to_datetime(kline['Time'], unit='ms')

    # Store results for comparison
    results.append({
        'time': time_readable,
        'first_trade_id': first_trade_id,
        'last_trade_id': last_trade_id,
        'expected_volume': kline['Volume'],
        'calculated_volume': total_volume,
        'calculated_number_of_trades': number_of_trades,
        'expected_number_of_trades': kline['Number of Trades'],
        'buy_volume_dominance': buy_volume_dominance,
        'sell_volume_dominance': sell_volume_dominance,
        'dominance_direction': dominance_direction
    })

# Create a results DataFrame for easier visualization
results_df = pd.DataFrame(results)

# Print the results DataFrame
results_df

,time,first_trade_id,last_trade_id,expected_volume,calculated_volume,calculated_number_of_trades,expected_number_of_trades,buy_volume_dominance,sell_volume_dominance,dominance_direction
0,2024-10-09 12:10:00.009,3903975925,3903977347,4.19668,0.36434,230,1423,4.092331,95.907669,-1
1,2024-10-09 12:11:00.007,3903977348,3903980492,10.22952,10.22952,3145,3145,5.495664,94.504336,-1
2,2024-10-09 12:12:00.009,3903980493,3903982969,5.69628,5.69628,2477,2477,66.164760,33.835240,1
3,2024-10-09 12:13:00.007,3903982970,3903985994,4.06825,4.06825,3025,3025,68.475880,31.524120,1
4,2024-10-09 12:14:00.007,3903985995,3903987622,1.81590,1.81590,1628,1628,45.106008,54.893992,-1
5,2024-10-09 12:15:00.014,3903987623,3903988513,3.68845,3.68845,891,891,42.960051,57.039949,-1
6,2024-10-09 12:16:00.006,3903988514,3903991378,11.50982,11.50982,2865,2865,83.366204,16.633796,1
7,2024-10-09 12:17:00.006,3903991379,3903992946,2.91154,2.91154,1568,1568,63.753203,36.246797,1
8,2024-10-09 12:18:00.008,3903992947,3903993524,2.02369,2.02369,578,578,23.454185,76.545815,-1
9,2024-10-09 12:19:00.006,3903993525,3903997513,16.73427,16.73427,3989,3989,40.734134,59.265866,-1
10,2024-10-09 12:20:00.009,3903997514,3903998724,4.08999,4.08999,1211,1211,64.810427,35.189573,1
11,2024-10-09 12:21:00.009,3903998725,3903999972,6.88200,6.88200,1248,1248,92.816623,7.183377,1
12,2024-10-09 12:22:00.006,3903999973,3904001375,4.59666,4.59666,1403,1403,45.020080,54.979920,-1
13,2024-10-09 12:23:00.006,3904001376,3904005311,14.77063,14.77063,3936,3936,53.744830,46.255170,1
14,2024-10-09 12:24:00.009,3904005312,3904006946,11.39635,11.39635,1635,1635,47.105872,52.894128,-1
15,2024-10-09 12:25:00.009,3904006947,3904007787,10.23970,10.23970,841,841,8.220163,91.779837,-1
16,2024-10-09 12:26:00.006,3904007788,3904008924,4.15815,4.15815,1137,1137,54.986232,45.013768,1
17,2024-10-09 12:27:00.009,3904008925,3904009970,3.16910,3.16910,1046,1046,26.990944,73.009056,-1
18,2024-10-09 12:28:00.006,3904009971,3904011629,7.39468,7.39468,1659,1659,6.111962,93.888038,-1
19,2024-10-09 12:29:00.006,3904011630,3904012804,5.82563,5.82563,1175,1175,39.740938,60.259062,-1

In [127]:
#sorting
df = df.sort_values(by='event_time')

In [128]:
# check duplicates
df[df['event_time'].duplicated(keep=False)]

In [130]:
# convert Unix timestamp into datetime
df['event_time'] = pd.to_datetime(df['event_time'], unit='ms')
df['start_time'] = pd.to_datetime(df['start_time'], unit='ms')
df['close_time'] = pd.to_datetime(df['close_time'], unit='ms')

In [131]:
# check missing values
def check_missing_rows(df, interval='5T'):
    
    min_time = df['start_time'].min()
    max_time = df['start_time'].max()
    
    
    expected_times = pd.date_range(start=min_time, end=max_time, freq=interval)
    
    
    actual_times = df['start_time']
    missing_times = expected_times.difference(actual_times)
    
    return missing_times

missing_times = check_missing_rows(df)
print("Missing times:")
missing_times

Missing times:

C:\Users\HP\AppData\Local\Temp\ipykernel_8536\743610105.py:8: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  expected_times = pd.date_range(start=min_time, end=max_time, freq=interval)

DatetimeIndex([], dtype='datetime64[ns]', freq='5min')

In [133]:
# processing before database table
df['event_time'] = df['event_time'].view('int64') // 10**6
df['start_time'] = df['start_time'].view('int64') // 10**6
df['close_time'] = df['close_time'].view('int64') // 10**6
df['volume'] = df['volume'].round(2)
df['quote_asset_volume'] = df['quote_asset_volume'].round(2)
df['take_buy_base_asset_volume'] = df['take_buy_base_asset_volume'].round(2)
df['taker_buy_quote_asset_volume'] = df['taker_buy_quote_asset_volume'].round(2)
df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_8536\1041664752.py:2: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  df['event_time'] = df['event_time'].view('int64') // 10**6
C:\Users\HP\AppData\Local\Temp\ipykernel_8536\1041664752.py:3: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  df['start_time'] = df['start_time'].view('int64') // 10**6
C:\Users\HP\AppData\Local\Temp\ipykernel_8536\1041664752.py:4: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  df['close_time'] = df['close_time'].view('int64') // 10**6

,event_time,start_time,close_time,open,close,high,low,volume,trades,quote_asset_volume,take_buy_base_asset_volume,taker_buy_quote_asset_volume
0,1720902000010,1720901700000,1720901999999,58583.21,58593.06,58601.54,58577.28,16.60,1767,972533.13,10.42,610723.53
1,1720902300009,1720902000000,1720902299999,58593.05,58584.00,58625.97,58582.00,11.22,1716,657460.82,5.55,325416.42
2,1720902600017,1720902300000,1720902599999,58584.00,58592.00,58592.00,58574.32,25.67,1242,1503775.83,9.30,544534.60
3,1720902900009,1720902600000,1720902899999,58592.00,58573.55,58592.00,58565.18,11.89,1247,696385.41,5.64,330647.19
4,1720903200009,1720902900000,1720903199999,58573.54,58600.00,58605.48,58573.44,13.84,1347,810713.11,9.75,570933.03

#### insert into database

In [134]:
class Config:
    def __init__(self):
        self.host = os.getenv('host')
        self.db_name = os.getenv('database')
        self.db_user = os.getenv('user')
        self.db_password = os.getenv('password')

config = Config()

host = os.getenv('host')
db_name = os.getenv('database')
db_user = os.getenv('user')
db_password = os.getenv('password')

In [135]:
connection_string = f'postgresql://{db_user}:{db_password}@{host}/{db_name}'

engine = create_engine(connection_string)

table_name = 'btcusdt_5m_demo'

df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"DataFrame has been successfully inserted into the table '{table_name}' in the database.")

DataFrame has been successfully inserted into the table 'btcusdt_5m_demo' in the database.